<div align="center">
  <h1>LISTA DE USUARIOS REGISTRADOS</h1>
  <table *ngIf="hayRegistros(); else sin" class="table table-sm" >
    <tr class="table-primary">
      <td scope="col">ID</td>
      <td scope="col">NOMBRE</td>
      <td scope="col">CELULAR</td>
      <td scope="col">Correo</td>
      <td>SELECCIONAR</td>
    </tr>
    <tr *ngFor="let usuario of usuarios" class="table-danger">
      <td >{{usuario.idUsuario}}</td>
      <td >{{usuario.nombre}}</td>
      <td>{{usuario.celular}}</td>
      <td>{{usuario.correo}}</td>
      <td><button class="btn btn-warning">Borrar</button></td>
      <td><button class="btn btn-warning">Seleccionar</button></td>
    </tr>
  </table>

  <ng-template #sin>
    <p>No hay usuarios registrados.</p>
  </ng-template>

  <div>
    <p> Nombre: <input type="text" [(ngModel)]="usuario.nombre" /> </p>
    <p> Telefono: <input type="number" [(ngModel)]="usuario.telefono" /> </p>
    <p> Email: <input type="text" [(ngModel)]="usuario.email" /> </p>
    <p> 
      <button (click)="altaUsuario()"> AGREGAR </button> 
      <button (click)="editarUsuario()"> MODIFICAR </button> 
    </p>
  </div>
</div>